# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\wiki_bert_sentiment_ch\project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
